.encabezado{
   display: flex;
   flex-direction: column;
   align-items: left;
   
   height: auto;
   width: auto;
   margin: 0rem;   
}
.encabezado__principal{
   flex-grow: 4;
}

.encabezado__titulo{
   font-weight: 700;
   font-size: 22px;
   line-height: 26px;
   flex-grow: 1;
}

.encabezado__descripcion{
   font-size: 14px;
   font-weight: 400;
   line-height: 16px;
}

.encabezado__imagen {
   width: 50%;
   margin-left: 25%
}

.encabezado__foto{
   border-radius: 50%;
   width: 100%;
   height: auto;
}

/* ========= encabezado Lista =============== */
.encabezado__lista{
   margin: 1.2rem 0.9rem 1rem 0rem;
   font-weight: 500;
}

.lista__item {
   display: inline-flex;
   margin-right: 1.2rem;
}

.lista__link{
   color: #464646;
   font-size: 14px;
   text-decoration: none;
}

.lista__img{
   width: 2rem;
   height: 2rem;  
}